<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433 
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BPMO.Facade.SDNI.SAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DEMODBDatabaseName" value="Database" />
    <add key="DEMODBLikeSymbol" value="%" />
    <add key="DEMODBParameterSymbol" value="@" />
    <add key="DEMODBNamedParameters" value="true" />
    <add key="DEMODBUserParameter" value="User ID" />
    <add key="DEMODBPasswordParameter" value="Password" />
    <!--Identificador del Módulo SDNI-->
    <add key="ModuloID" value="1" />
    <!--Datos de Conexión a BD-->
    <add key="Ambiente" value="3" />
    <add key="XMLConexiones" value="C:\Users\PC03\Documents\HOME\sdni-GD-branch\BPMO.SDNI\BPMO.SDNI\BPMO.SDNI.Web\Contenido\XML\BPMO.SDNI.Conexiones.xml" />
    <!--Tiempo en mínutos para avisar la finalización de session-->
    <add key="timeoutIniContador" value="1" />
    <!--Para el Buscador e UI que inyectan el "%" a la consulta-->
    <add key="BPMOLikeSymbol" value="%" />
    <!--Página de logueo-->
    <add key="Logueo" value="~/Seguridad.Acceso.UI/LoginUI.aspx" />
    <!-- Pagina Principal -->
    <!--Número de filas de los grid-->
    <add key="NumberRows" value="10" />
    <!--Configuración para el Servidor de Correo-->
    <add key="WSCorreoTimeout" value="1080000" />
    <add key="WSCorreoUsuario" value="" />
    <add key="WSCorreoContrasena" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Directorio de XML de Reportes-->
    <add key="UbicacionReportesXML" value="~/Contenido/XML/" />
    <!--Directorio de configuraciones en XML-->
    <add key="UbicacionXML" value="C:\Users\PC03\Documents\HOME\sdni-GD-branch\BPMO.SDNI\BPMO.SDNI\BPMO.SDNI.Web\Contenido\XML\" />
    <!--Texto para consultar el deducible DAÑOS MATERIALES-->
    <add key="ConceptoDeducible" value="DAÑOS MATERIALES" />
    <!--Secciones en las imagenes de las unidades-->
    <add key="SeccionesUnidad" value="1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22" />
    <!--Sistema de Origen-->
    <add key="SistemaOrigen" value="SDNI" />
    <!--Facturacion-->
    <add key="CantidadLineaFactura" value="1" />
    <add key="UnidadMedidaLineaFacturaID" value="118" />
    <add key="UnidadMedidaLineaFactura" value="SERVICIO" />
    <add key="CostoLineaFactura" value="0" />
    <add key="MonedaPesos" value="MXN" />
    <add key="UsuarioSeguridadId" value="-3" />
    <add key="FormaPago" value="CRÉDITO" />
    <add key="TipoTasaCambiario" value="User" />
    <!--Intervalo de días para el envio de notificaciones-->
    <add key="Perfil.Facturista.Dias.Notificacion" value="7" />
    <!--Id del perfil facturista-->
    <add key="Perfil.Facturista" value="IDLS_JEFEADMIN" />
    <!--Nombre INPC Primer Año-->
    <add key="NombrePrimerINPC" value="PRIMER AÑO FISCAL" />
    <!-- Factor INPC Primer Año -->
    <add key="FactorPrimerINPC" value="1" />
    <!-- Identificador de INPC FISCAL -->
    <add key="INPCFiscalID" value="2" />
    <!-- Expresión Regurlar del Número de Contrato-->
    <add key="FormatoNumeroContrato" value="^([a-zA-Z]+)\\\d{4,7}\\\d+$" />
    <add key="Reportes_IdealeaseDBPrefijo" value="OutsourcingDev.dbo." />
    <add key="Reportes_LiderDBPrefijo" value="Desarrollo.dbo." />
    <add key="Reportes_OracleDBPrefijo" value="vm00svrbi.DW.dbo." />
    <!-- Número de letras que tendrá la clave para la posición de trabajo-->
    <add key="NumeroCaracteresPT" value="3"/>
    <!-- Identificador de la Caracteristica de Unidad 'SERIE DE MOTOR' -->
    <add key="SerieMotorId" value="4" />
    <!-- Cantidad de Dias para determinar que el seguro esta por vencer -->
    <add key="DiasVencimientoSeguro" value="30" />
    <!-- Mensaje que se presenta en el cobro automático del seguro -->
    <add key="MensajeCobroSeguro" value="COBRO DEL SEGURO"/>
    <!-- Fecha de Inicio de Contratos a los cuales se les aplicará INPC a las Variables KMS/HRS -->
    <add key="FechaAplicacionINPCVariables" value="01/01/2016 00:00:00"/>
	<!-- Tiempo máximo de espera para recepción de un contrato de RD, expresado en horas -->
    <add key="TiempoMaximoRecepcionRD" value="3"/>
    <!-- Porcentaje Minimo adicional que se le cobrará por el Seguro al Cliente -->
    <add key="PorcentajeMinimoSeguro" value="10"/>
	<!-- Fromatos validos de documentos de evidencia de auditoria-->
	<add key="FormatosValidos" value=".jpg,.gif,.tif,.bmp,.png,.pdf,.jpeg"/>
	<!-- Nombre del paqquete de mantenimiento con el que se configura una orden de lavado-->
	<add key="ConfigPTLavado" value="LAVADO DE UNIDAD"/>
	<!-- Nombre del paquete de mantenimiento con el que se configura una orden correctiva-->
	<add key="ConfigPTCorrectivo" value="DIAGNÓSTICO"/>
	<!-- Tipo Servicio Correctivo ID -->
	<add key="TipoServicioCorrectivo" value="1"/>
	<!-- Tipo Servicio Preventivo -->
	<add key="TipoServicioPreventivo" value="2"/>
	<!-- Tipo Documento ID para la OS-->
	<add key="TipoDocumento" value="1"/>
	<!--Asunto que se envi­a en los correos del proximo servicio-->
	<add key="AsuntoCorreoServicioRealizado" value="REPORTE DE SERVICIO DE MANTENIMIENTO DE LA UNIDAD."/>
	<add key="CuerpoCorreoServicioRealizado" value="POR MEDIO DE LA PRESENTA HACEMOS DE SU CONOCIMIENTO EL REPORTE DE SERVICIO DE MANTENIMIENTO DE LA UNIDAD."/>
	<!--Mensaje que se envi­a en los correos del proximo servicio-->
	<add key="MensajeCorreo" value="LE SUGERIMOS RESPETAR LAS HORAS, KILOMETROS O FECHA PROGRAMADAS PARA LA UNIDAD, YA QUE LA UNIDAD DEBE VISITARNOS POR LO MENOS UNA VEZ POR MES, AÚN SIN CUMPLIR CON LAS HORAS/KILOMETROS PROGRAMADAS, ESTO ASEGURA UN ADECUADO MANTENIMIENTO PREVENTIVO Y ASÍ ASEGURAMOS LAS ÓPTIMAS CONDICIONES DE LA UNIDAD PARA EL TRABAJO. EL NO ACUDIR A LAS REVISIONES PREVENTIVAS PROGRAMADAS DEJA A SU CARGO EL COSTO DE LOS RESCATES CARRETEROS QUE EN SU CASO PRESENTE LA UNIDAD.\n DE ANTEMANO AGRADECEMOS SUS ATENCIONES A LA PRESENTE, ASÍ COMO LA OPORTUNIDAD PARA BRINDARLE NUESTRO SERVICIO"/>
	<!--Identificador del Modulo SDNI-->
    <add key="UbicacionFormatoCorreoServicioRealizado" value="C:\Users\PC03\Documents\HOME\sdni-GD-branch\BPMO.SDNI\BPMO.SDNI\BPMO.SDNI.Web\Contenido\XML\"/>
	<!-- Nombre del archivo del formato para el correo -->
	<add key="NombreFormatoCorreoServicioRealizado" value="Formato.Correo.Servicio.Realizado.xml"/>
	<!-- Nombre de plantilla de Checklist -->
	<add key="NombrePlantillaChecklist" value="BPMO.SDNI.Reportes.Check.List.xml"/>
	<!-- Ruta para lectura de archivos inline -->
	<add key="RutaArchivosInline" value="C:\AS\Idealease\lecturas\"/>
	<!--Directorio de Imagenes-->
	<add key="UbicacionImagenes" value="~/Contenido/Imagenes/"/>
	<!-- Imagen por defecto para tanque vacio de combustible -->
	<add key="NombreImagenDefectoTanqueVacio" value="v0.png"/>
	<!-- Total de días al mes cuando no es FS -->
	<add key="ParametroUpTime" value="30.4"/>
	<!-- Total de días al mes cuando no es FS -->
	<add key="MarcaInternationalID" value="1"/>
	<!-- Total de horas al día, parámetro para el reporte de Up Time -->
	<add key="HorasDiaUpTime" value="24"/>
	<!-- Tiempo minimo para el proximo mantto de una unidad cuando no se tiene configuracion por modelo-->
	<add key="TiempoMinimoProximoMantto" value="28"/>
	<add key="HrLunesViernes" value="9"/>
	<add key="HrSabado" value="3"/>
    <!--Rutal donde se encuentran los archivos de formato para el envío de correo de los autorizadores-->
    <add key="UbicacionFormatoCorreoAutorizadores" value="C:\Users\PC03\Documents\HOME\sdni-GD-branch\BPMO.SDNI\BPMO.SDNI\BPMO.SDNI.Web\Contenido\XML\"/>
    <!-- Clave Producto/Servicio  -->
    <add key="ClaveProductoServicioPSL" value="72141700"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v13.2.Web, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Data.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v13.2.Core, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v13.2.Core, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="~/MapaSitio.UI/PaginaErrorUI.aspx">
      <error statusCode="400" redirect="~/MapaSitio.UI/PaginaErrorUI.aspx?ErrorCode=400" />
      <error statusCode="403" redirect="~/MapaSitio.UI/PaginaErrorUI.aspx?ErrorCode=403" />
      <error statusCode="404" redirect="~/MapaSitio.UI/PaginaErrorUI.aspx?ErrorCode=404" />
      <error statusCode="408" redirect="~/MapaSitio.UI/PaginaErrorUI.aspx?ErrorCode=408" />
    </customErrors>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <sessionState timeout="60"></sessionState>
    <httpRuntime executionTimeout="7200" maxUrlLength="10000" maxQueryStringLength="80000" requestValidationMode="2.0"/>
  </system.web>
  <location path="~/Facturacion.AplicacionesFacturacion.UI/CargaMasivaContratosUI.aspx">
    <system.web>
      <httpRuntime maxRequestLength="1048576" executionTimeout="7200" />
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
	<defaultDocument>
		<files>
			<add value="Seguridad.Acceso.UI/LoginUI.aspx"/>
		</files>
	</defaultDocument>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" doctypeMode="Xhtml" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <applicationSettings>
    <BPMO.Facade.SDNI.SAO.Properties.Settings>
      <setting name="BPMO_Facade_SDNI_SAO_EnviarCorreoSAO_TRPSendMail" serializeAs="String">
        <value>http://soa-tst.bepensa.com/soa-infra/services/BM/TRPSendMail/client</value>
      </setting>
    </BPMO.Facade.SDNI.SAO.Properties.Settings>
  </applicationSettings>
</configuration>
